openapi: 3.0.3
info:
  title: ClickSend v3 Account Receipts API
  description: Representative OpenAPI 3.x description of the ClickSend v3 REST API, a single cloud communications API for SMS, MMS, voice / text-to-speech, transactional email, and physical post (letters and postcards), plus contacts and lists, delivery receipts, inbound handling, and account/balance. All requests use HTTP Basic authentication with your ClickSend username and API key. This document models a representative subset of the documented endpoints; see the official reference for the complete surface.
  termsOfService: https://www.clicksend.com/au/legal/terms-of-service/
  contact:
    name: ClickSend Support
    email: support@clicksend.com
    url: https://developers.clicksend.com/
  version: '3.1'
servers:
- url: https://rest.clicksend.com/v3
  description: ClickSend v3 production API
security:
- basicAuth: []
tags:
- name: Receipts
  description: Delivery receipts, inbound messages, and automations.
paths:
  /sms/receipts:
    get:
      tags:
      - Receipts
      operationId: smsReceiptsGet
      summary: Get a paginated list of SMS delivery receipts.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A paginated list of delivery receipts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /sms/receipts-read:
    put:
      tags:
      - Receipts
      operationId: smsReceiptsReadPut
      summary: Mark SMS delivery receipts as read.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date_before:
                  type: integer
      responses:
        '200':
          description: Receipts marked as read.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /sms/inbound:
    get:
      tags:
      - Receipts
      operationId: smsInboundGet
      summary: Get a paginated list of inbound SMS messages.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A paginated list of inbound SMS.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /voice/receipts:
    get:
      tags:
      - Receipts
      operationId: voiceReceiptsGet
      summary: Get a paginated list of voice delivery receipts.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A paginated list of voice receipts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /mms/receipts:
    get:
      tags:
      - Receipts
      operationId: mmsReceiptsGet
      summary: Get a paginated list of MMS delivery receipts.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A paginated list of MMS receipts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /automations/sms/receipts:
    get:
      tags:
      - Receipts
      operationId: automationsSmsReceiptsGet
      summary: Get the configured SMS delivery-receipt automation (webhook) rules.
      responses:
        '200':
          description: A list of receipt automation rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    post:
      tags:
      - Receipts
      operationId: automationsSmsReceiptsPost
      summary: Create an SMS delivery-receipt automation that forwards receipts to a webhook URL.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutomationRule'
      responses:
        '200':
          description: Automation rule created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /automations/sms/inbound:
    get:
      tags:
      - Receipts
      operationId: automationsSmsInboundGet
      summary: Get the configured inbound-SMS automation (webhook) rules.
      responses:
        '200':
          description: A list of inbound automation rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    post:
      tags:
      - Receipts
      operationId: automationsSmsInboundPost
      summary: Create an inbound-SMS automation that forwards inbound messages to a webhook URL.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutomationRule'
      responses:
        '200':
          description: Automation rule created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
components:
  parameters:
    limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 10
      description: Number of results per page.
    page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 1
      description: Page number for paginated results.
  schemas:
    AutomationRule:
      type: object
      properties:
        rule_name:
          type: string
        url:
          type: string
          description: Webhook URL to which events are forwarded.
        dedicated_number:
          type: string
        enabled:
          type: integer
      required:
      - url
    ApiResponse:
      type: object
      properties:
        http_code:
          type: integer
          example: 200
        response_code:
          type: string
          example: SUCCESS
        response_msg:
          type: string
        data:
          type: object
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using your ClickSend username and API key. The username is your ClickSend account username; the password is your API key from the ClickSend dashboard.
