openapi: 3.0.3
info:
  title: ClickSend v3 Account Post Postcard API
  description: Representative OpenAPI 3.x description of the ClickSend v3 REST API, a single cloud communications API for SMS, MMS, voice / text-to-speech, transactional email, and physical post (letters and postcards), plus contacts and lists, delivery receipts, inbound handling, and account/balance. All requests use HTTP Basic authentication with your ClickSend username and API key. This document models a representative subset of the documented endpoints; see the official reference for the complete surface.
  termsOfService: https://www.clicksend.com/au/legal/terms-of-service/
  contact:
    name: ClickSend Support
    email: support@clicksend.com
    url: https://developers.clicksend.com/
  version: '3.1'
servers:
- url: https://rest.clicksend.com/v3
  description: ClickSend v3 production API
security:
- basicAuth: []
tags:
- name: Post Postcard
  description: Print and mail physical postcards.
paths:
  /post/postcards/send:
    post:
      tags:
      - Post Postcard
      operationId: postPostcardsSendPost
      summary: Print and mail one or more postcards from an uploaded PDF.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPostcard'
      responses:
        '200':
          description: Postcards queued for print and mail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /post/postcards/price:
    post:
      tags:
      - Post Postcard
      operationId: postPostcardsPricePost
      summary: Calculate the price of a postcard before sending.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPostcard'
      responses:
        '200':
          description: Price calculated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /post/postcards/history:
    get:
      tags:
      - Post Postcard
      operationId: postPostcardsHistoryGet
      summary: Get a paginated list of sent postcards.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A paginated list of postcards.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
components:
  parameters:
    page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 1
      description: Page number for paginated results.
    limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 10
      description: Number of results per page.
  schemas:
    ApiResponse:
      type: object
      properties:
        http_code:
          type: integer
          example: 200
        response_code:
          type: string
          example: SUCCESS
        response_msg:
          type: string
        data:
          type: object
    PostPostcard:
      type: object
      properties:
        file_url:
          type: string
          description: URL of the uploaded PDF design to print and mail.
        recipients:
          type: array
          items:
            $ref: '#/components/schemas/PostRecipient'
      required:
      - file_url
      - recipients
    PostRecipient:
      type: object
      properties:
        address_name:
          type: string
        address_line_1:
          type: string
        address_line_2:
          type: string
        address_city:
          type: string
        address_state:
          type: string
        address_postal_code:
          type: string
        address_country:
          type: string
        return_address_id:
          type: integer
        schedule:
          type: integer
      required:
      - address_name
      - address_line_1
      - address_city
      - address_postal_code
      - address_country
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using your ClickSend username and API key. The username is your ClickSend account username; the password is your API key from the ClickSend dashboard.
