openapi: 3.0.3
info:
  title: ClickSend v3 Account MMS API
  description: Representative OpenAPI 3.x description of the ClickSend v3 REST API, a single cloud communications API for SMS, MMS, voice / text-to-speech, transactional email, and physical post (letters and postcards), plus contacts and lists, delivery receipts, inbound handling, and account/balance. All requests use HTTP Basic authentication with your ClickSend username and API key. This document models a representative subset of the documented endpoints; see the official reference for the complete surface.
  termsOfService: https://www.clicksend.com/au/legal/terms-of-service/
  contact:
    name: ClickSend Support
    email: support@clicksend.com
    url: https://developers.clicksend.com/
  version: '3.1'
servers:
- url: https://rest.clicksend.com/v3
  description: ClickSend v3 production API
security:
- basicAuth: []
tags:
- name: MMS
  description: Send and view MMS messages.
paths:
  /mms/send:
    post:
      tags:
      - MMS
      operationId: mmsSendPost
      summary: Send one or more MMS messages with a media file and subject.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MmsMessageCollection'
      responses:
        '200':
          description: MMS queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /mms/price:
    post:
      tags:
      - MMS
      operationId: mmsPricePost
      summary: Calculate the total price for one or more MMS messages before sending.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MmsMessageCollection'
      responses:
        '200':
          description: Price calculated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /mms/history:
    get:
      tags:
      - MMS
      operationId: mmsHistoryGet
      summary: Get a paginated list of sent MMS messages.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A paginated list of MMS messages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
components:
  parameters:
    page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 1
      description: Page number for paginated results.
    limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 10
      description: Number of results per page.
  schemas:
    MmsMessageCollection:
      type: object
      properties:
        media_file:
          type: string
        messages:
          type: array
          items:
            $ref: '#/components/schemas/MmsMessage'
      required:
      - messages
    ApiResponse:
      type: object
      properties:
        http_code:
          type: integer
          example: 200
        response_code:
          type: string
          example: SUCCESS
        response_msg:
          type: string
        data:
          type: object
    MmsMessage:
      type: object
      properties:
        source:
          type: string
          default: sdk
        from:
          type: string
        body:
          type: string
        to:
          type: string
        subject:
          type: string
        media_file:
          type: string
          description: URL of the uploaded media file.
        schedule:
          type: integer
        country:
          type: string
      required:
      - to
      - subject
      - media_file
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using your ClickSend username and API key. The username is your ClickSend account username; the password is your API key from the ClickSend dashboard.
