openapi: 3.0.3
info:
  title: ClickSend v3 Account Email API
  description: Representative OpenAPI 3.x description of the ClickSend v3 REST API, a single cloud communications API for SMS, MMS, voice / text-to-speech, transactional email, and physical post (letters and postcards), plus contacts and lists, delivery receipts, inbound handling, and account/balance. All requests use HTTP Basic authentication with your ClickSend username and API key. This document models a representative subset of the documented endpoints; see the official reference for the complete surface.
  termsOfService: https://www.clicksend.com/au/legal/terms-of-service/
  contact:
    name: ClickSend Support
    email: support@clicksend.com
    url: https://developers.clicksend.com/
  version: '3.1'
servers:
- url: https://rest.clicksend.com/v3
  description: ClickSend v3 production API
security:
- basicAuth: []
tags:
- name: Email
  description: Send and view transactional email.
paths:
  /email/send:
    post:
      tags:
      - Email
      operationId: emailSendPost
      summary: Send a transactional email from a verified sender address.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Email'
      responses:
        '200':
          description: Email queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /email/price:
    post:
      tags:
      - Email
      operationId: emailPricePost
      summary: Calculate the price of an email before sending.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Email'
      responses:
        '200':
          description: Price calculated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /email/history:
    get:
      tags:
      - Email
      operationId: emailHistoryGet
      summary: Get a paginated list of sent emails.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A paginated list of emails.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /email/addresses:
    get:
      tags:
      - Email
      operationId: emailAddressesGet
      summary: Get a list of verified email from-addresses.
      responses:
        '200':
          description: A list of verified email addresses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
components:
  parameters:
    limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 10
      description: Number of results per page.
    page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 1
      description: Page number for paginated results.
  schemas:
    ApiResponse:
      type: object
      properties:
        http_code:
          type: integer
          example: 200
        response_code:
          type: string
          example: SUCCESS
        response_msg:
          type: string
        data:
          type: object
    Email:
      type: object
      properties:
        to:
          type: array
          items:
            type: object
            properties:
              email:
                type: string
              name:
                type: string
        cc:
          type: array
          items:
            type: object
        bcc:
          type: array
          items:
            type: object
        from:
          type: object
          properties:
            email_address_id:
              type: integer
            name:
              type: string
        subject:
          type: string
        body:
          type: string
        attachments:
          type: array
          items:
            type: object
        schedule:
          type: integer
      required:
      - to
      - from
      - subject
      - body
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using your ClickSend username and API key. The username is your ClickSend account username; the password is your API key from the ClickSend dashboard.
