openapi: 3.0.3
info:
  title: ClickSend v3 Account Voice API
  description: Representative OpenAPI 3.x description of the ClickSend v3 REST API, a single cloud communications API for SMS, MMS, voice / text-to-speech, transactional email, and physical post (letters and postcards), plus contacts and lists, delivery receipts, inbound handling, and account/balance. All requests use HTTP Basic authentication with your ClickSend username and API key. This document models a representative subset of the documented endpoints; see the official reference for the complete surface.
  termsOfService: https://www.clicksend.com/au/legal/terms-of-service/
  contact:
    name: ClickSend Support
    email: support@clicksend.com
    url: https://developers.clicksend.com/
  version: '3.1'
servers:
- url: https://rest.clicksend.com/v3
  description: ClickSend v3 production API
security:
- basicAuth: []
tags:
- name: Voice
  description: Send and view voice (text-to-speech) messages.
paths:
  /voice/send:
    post:
      tags:
      - Voice
      operationId: voiceSendPost
      summary: Send one or more voice (text-to-speech) messages.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceMessageCollection'
      responses:
        '200':
          description: Voice messages queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /voice/price:
    post:
      tags:
      - Voice
      operationId: voicePricePost
      summary: Calculate the total price for one or more voice messages before sending.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceMessageCollection'
      responses:
        '200':
          description: Price calculated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /voice/lang:
    get:
      tags:
      - Voice
      operationId: voiceLangGet
      summary: Get a list of supported voice languages and voices.
      responses:
        '200':
          description: A list of supported languages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /voice/{message_id}/cancel:
    put:
      tags:
      - Voice
      operationId: voiceCancelPut
      summary: Cancel a queued voice message.
      parameters:
      - name: message_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Voice message cancelled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
components:
  schemas:
    VoiceMessageCollection:
      type: object
      properties:
        messages:
          type: array
          items:
            $ref: '#/components/schemas/VoiceMessage'
      required:
      - messages
    VoiceMessage:
      type: object
      properties:
        source:
          type: string
          default: sdk
        body:
          type: string
          description: Text to be read aloud via text-to-speech.
        to:
          type: string
        lang:
          type: string
          description: Language / voice code, e.g. en-us.
        voice:
          type: string
          enum:
          - female
          - male
        schedule:
          type: integer
        custom_string:
          type: string
        country:
          type: string
        machine_detection:
          type: integer
        require_input:
          type: integer
      required:
      - body
      - to
      - lang
      - voice
    ApiResponse:
      type: object
      properties:
        http_code:
          type: integer
          example: 200
        response_code:
          type: string
          example: SUCCESS
        response_msg:
          type: string
        data:
          type: object
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using your ClickSend username and API key. The username is your ClickSend account username; the password is your API key from the ClickSend dashboard.
